.worktrees/
.vendor-tmp-*/
UnityTestProject/
.unity-create.log
.unity-test.log
.unity-test-results.xml
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
sysinfo.txt
